.nav {
    height: 3rem;
  }
  
  .hero {
    height: 32.6rem;
    background-color: #eee;
  }
  
  .hero_head {
    padding: 3rem 0 1rem 0;
  }
  
  .hero_head_p {
    font-size: 1.2rem;
    word-spacing: .1rem;
  }
  
  .hero_search {
    padding: 1.2rem 0;
  }
  
  .hero_inputs {
    padding: 1rem;
    border: none;
    border: 1px solid #eee;
    width: 12rem;
    margin: 0rem;
    font-size: 1.1rem;
    color: #797979;
    cursor: pointer;
    overflow: hidden;
  }
  
  .hero_search_bx {
    width: 73%;
    margin: 0 auto;
  }
  
  .hero_post_bx {
    width: 35%;
    margin: 3rem auto .8rem auto;
    font-size: 1.1rem;
  }
  
  .hero_inputs_btn {
    border: none;
    background-color: crimson;
    color: #fff;
    padding: .9rem;
    width: 8rem;
    cursor: pointer;
    font-size: 1.1rem;
  }
  
  .hero_post_bx_btn {
    background-color: crimson;
    color: #fff;
    font-size: 1.3rem !important;
    margin: 2.5rem 0;
    width: 20rem;
  }

  .hero_post_bx_btn:hover{
    color: #fff;
    border: #fff;
    transition: all .2s ease;
  }

  
  .post_line {
    width: 20%;
    height: 1px;
    background-color: #868585;
  }
  
  .fg {
    padding: 0 !important;
  }
  
  .hero_input {
    padding: .8rem;
    border: none;
    border: 1px solid #dfdddd;
  }
  
  .hero_btn {
    padding: .7rem;
    width: 70%;
    border: none;
    margin-left: .5rem;
    background-color: crimson;
    color: #fff;
  }
  
  .hero_service {
    padding: 1rem 0;
  }
  
  .hero_service_bx {
    background-color: #fff;
    border: 1px solid #c9c7c7;
    position: relative;
  }
  
  .ser {
    padding: .5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero_ser_img {
    width: 3.3rem;
  }
  
  .hero_ser_text {
    margin-top: 1rem;
    padding-left: 1.5rem;
    font-size: 1.2rem;
    text-decoration: none;
  
  }

  .hero_ser_text:hover{
    color: rgb(207, 6, 6);
    text-decoration: none;
  }
  
  .hero_ser_link {
    text-decoration: none;
    color: #5e5e5e;
  }

  .hero_ser_link:hover{
    text-decoration: none;
    color: crimson;
  }
  
  .home_subhead {
    width: 100%;
    margin: 4rem auto;
  }
  
  .home_subhead_text {
    font-size: 1.7rem;
    color: crimson;
  }
  
  .home_subhead_line {
    border: 1px solid #a0a0a0;
  }
  
  .home_row_col {
    position: relative;
  }
  
  .property_price {
    position: absolute;
    top: 9rem;
    left: 1rem;
    padding-left: .3rem;
    padding-right: .3rem;
    height: 1.5rem;
    background-color: crimson;
    color: #fff;
  }
  
  .property_text {
    font-size: 1rem;
    margin-bottom: 0.2rem;
  }
  
  .property_text_person {
    font-size: .9rem;
    color: #747272;
    margin: 0;
  }
  
  .property_text_city {
    font-size: 1rem;
    margin-top: 2rem;
  }
  .top_trend{
    margin: 8rem 0 3rem 0 !important;
  }
  
  .trending {
    margin: 2rem 0 0 0;
    padding-bottom: 2rem;
  }
  
  .prop_loc {
    padding-right: .1rem;
  }
  
  .call_prop {
    width: 1.8rem;
  }
  
  .searchbar {
    border: none !important;
    padding: .8rem !important;
    color: #727272 !important;
    margin: 0 !important;
  }
  
  .sb_1 {
    width: 19% !important;
    border-right: 1px solid #cfcfcf !important;
    overflow: hidden !important;
    border-top-left-radius: 8px !important;
  }
  
  .sb_2 {
    width: 35% !important;
    border-right: 1px solid #cfcfcf !important;
  }
  
  .sb_2::placeholder {
    padding-left: 1rem !important;
  }
  
  .sb_3 {
    width: 24.3%;
  }
  
  .sb_4 {
    width: 20%;
    background-color: crimson;
    color: #fff !important;
    border-top-right-radius: 8px;
    overflow: hidden;
  }
  
  .choosecity {
    margin-left: .5rem;
  }
  
  .searchbar_bx {
    background-color: #fff;
    width: 70%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: 0 auto;
  }
  
  .hero_ser_shadow {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  }
  
  .nav_btn {
    display: block !important;
  }
  
  .nav_header {
    padding: .5rem 0;
  }
  
  .wal_logo_n {
    width: 7rem;
  }
  
  .wal_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  

  .serch_close{
    font-size: 1.2rem;
  }
  
  .wal_nav_list {
    width: 23rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .wal_nav_list_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav_list_icons {
    padding: 0 1rem;
    border-right: 1px solid #eee;
  }
  
  .fa-user {
    padding-right: .2rem;
  }
  
  .fa-bars {
    font-size: 1.4rem !important;
    padding-top: .5rem;
    cursor: pointer;
  }
  
  .wal_nav_links {
    text-decoration: none;
    color: #7e7b7b;
  }
  
  .wal_nav_links:hover {
    text-decoration: none;
    color: crimson;
  }

  .wal_nav_dropdown{
    display: none;
  }

  .trending_card{
    padding: 1rem;
  }

  .nav_list_links{
    font-size: 1.2rem !important;
  }


  .prop_lists{
    /* width: 20rem; */
  }

  .prop_lists_price{
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(207, 6, 6);
    padding: 0 !important;
  }

  .prop_lists_rent{
    padding: 0 !important;
    margin-bottom: .5rem !important;
    color: rgb(133, 129, 129);
    font-size: .9rem;
  }

  .prop_lists_text{
    padding: 0 !important;
    font-size: 1rem;
    margin-bottom: .5rem;

  }

  .prop_lists_add{
    padding: 0 !important;
    font-size: .8rem;
    color: rgb(121, 120, 120);
    margin-bottom: 0.2rem !important;
  }

  .prop_lists_btn{
    background-color: crimson;
    color:rgb(255, 255, 255) ;
    font-size: 1.1rem;
  }

  .prop_lists_btn:hover{
    color: crimson;
    background-color: #fff;
    border: 1px solid crimson;
    transition: all .3s ease;
  }

  .prop_lists2{
    margin-left: .5rem;
  }

  .side_link{
    font-size: 1.1rem !important;
  }

  .closebtn{
    font-size: 1.3rem;
  }

  .crimson_text{
    color: crimson !important;
  }

  .crimson_background{
    background-color: crimson !important;
  }

  .main_list{
    /* margin-bottom: 3rem !important; */
    padding-bottom: 3rem;
    background-color: #fafafa;
  }

  .wal_mob_log{
    display: none;
  }

.mob_on{
    display: none;
  }

.poster_name{
  color: rgb(182, 180, 180);
  padding-right: .8rem;
}

.list_btns{
  width: 78%;
  background-color: crimson;
  color: #fff;
  font-size: 1.1rem;
  margin: .8rem;
}

.list_btns:hover{
  border: 1px solid crimson;
  color: crimson;
  background-color: #fff;
}

.home_arrow_left{
  font-size: 2rem !important;
  color: crimson;
}
.home_arrow_right{
  font-size: 2rem !important;
  color: crimson;
  padding-left: 1rem;
}

.property_modal{
  /* padding: 2rem 0; */
}

.property_modal{
  width: 70% !important;
  margin: auto !important;
}

.inner_container{
  width: 95%;
  margin: 0 auto;
}




@media screen and (max-width: 1200px) {

  .wal_mob_view{
    display: block;
  }

  .sb_2{
    width: 34.3% !important;
  }

  .searchbar_bx{
    width: 96%;
  }

  .hero_post_bx{
    width: 56%;
  }


  .hero_ser_text {
    padding-left: 0.5rem;
  }

  .hero_ser_img{
    width: 3rem;
  }

  .sb_2::placeholder {
    padding-left: 0rem !important;
  }

}


  
  @media screen and (max-width: 700px) {


    .property_modal{
      width: 90% !important;
    }
    .hero{
      min-height: 50rem;
    }
    .searchbar_bx {
      width: 80%;
      background-color: none;
      box-shadow: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .sb_1 {
      width: 100% !important;
      border: none !important;
      text-align: center;
      border-bottom: 1px solid #ececec !important;
      background-color: #fff !important;
    }
    .sb_2 {
      width: 100% !important;
      border: none !important;
      border-bottom: 1px solid #ececec !important;
    }
    .sb_3 {
      width: 100%;
    }
    .sb_4 {
      width: 100%;
      border-top-right-radius: 0;
    }

    .top_trend{
      margin: 0 1rem !important;
    }

    .ser{
      flex-direction: column;
      text-align: center;
    }

    .hero_service_bx {
      width: 53%;
    }

    .post_mob{
      text-align: center;
    }

    .prop_lists{
      width: 90%;
      margin: 3px auto;
  
    }
  }
  
  @media screen and (max-width: 600px) {
    .hero {
      min-height: 68rem;
    }
    .hero_inputs {
      width: 90%;
    }
    .hero_post_bx {
      width: 98%;
      margin: 1.5rem .2rem;
      padding: 0 1.5rem;
    }
    .hero_inputs_btn {
      width: 89%;
    }
    .hero_head_h1 {
      font-size: 1.8rem;
    }
    .hero_head_p {
      font-size: 1.5rem;
    }
    .hero_service {
      /* padding: 2rem 0; */
      margin: 0 1.3rem;
    }
    .property_card {
      margin: 1.2rem 0;
    }
    .trending {
      margin: 1rem;
    }
    .home_subhead {
      margin: 3rem 0;
    }
    .wal_nav_list {
      width: 4rem;
    }

    .wal_nav_list_left {
      display: none;
    }

    .wal_mob_log{
      display: block;
    }

    .wal_mob_dd{
      color: rgb(107, 106, 106) !important;
      font-size: 1.2rem !important;
    }

    .mob_on{
      display: block;
    }

  }
 