/**
  ===========================================================================
 * @file: Style.css
 *
 * @brief: This file contains stuff realtead to website style
 *
 *
 * ============================================================================
 *
 * Copyright © Eniacoder, 2020
 *
 * This material, including documentation and any related computer programs,is
 * protected by copyright controlled by Eniacoder.All rights are
 * reserved.Copying, including reproducing,storing, adapting or translating,any
 * or all of this material require written consent of Eniacoder.
 * This material may also contain confidential information,which should not be
 * disclosed to others without prior written consent of Eniacoder.
 *
 * ============================================================================
 *
 * <b> REVISION HISTORY </b>
 *
 * @Version 1.0 : 04-july-2020 
 * Author :Himanshu Goyal 
 *                                          
 *
 *
 *============================================================================
 */




/* Spinner */
/*Huge thanks to @tobiasahlin at http://tobiasahlin.com/spinkit/ */
input{
  outline: none;
}
.spinner {
  margin: 2px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* header */
.head{
    width: 100%;
    height: auto;
    background-color: white;
    padding: 1rem;
    position: fixed;
    z-index: 5;
    box-shadow: 1px 1px 3px rgba( 0, 0, 0 , 0.3);
  }        
  .head .nav-link{
    color: #413F3F;
    
  }
  .head .nav-link:hover{
    color: #FF5757;
    
  }
  .head .nav-item{
    margin-left: 1rem;
  }

  .head .nav-item button{
    border: 2px solid #FF5757;
    outline: none;
    background-color: #FF5757;
  
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: white;
    transition: 0.5s;
  }
  .head .nav-item button:hover{
    border: 2px solid #FF5757;
    
    background-color: transparent;
    color: #413F3F;
    
    
  }


  /* top text */

  .top-text{
    width: 100%;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
   
  }
  .top-text h1{
    text-align: center;
    color: #413F3F;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
  }

  /* top text end */

  /* top main card */

  .top-main{
    width:100%;
    height: auto;
    padding-top: .5rem;
    padding-bottom: 6rem;
  }
  .top-main .card {
    width:  100%;
    height: auto;
    border: none;
    background-color: #FFFBFB;
    transition: transform .2s;
    box-shadow: 0px 0px 10px 2px rgba( 0, 0, 0 , 0.2);
    margin-bottom: 1rem;

  } 
  .top-main .flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    
  }
  .top-main .card:hover{
    transform: scale(.95);
  }
  .top-main .card img{
    width: 100px;
    height: 100px;
  }
  .top-main .card .card-body p{
    width: 100%;
    text-align: center;
    color: #413F3F;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .top-main .card .card-body button{
    width: 8rem;
    height: auto;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 2px;
    border: 2px solid #FF5757;
    background-color: #FF5757;
    color: white;
    transition: 0.5s;
  }
  .top-main .card .card-body button:hover{
    background-color: transparent;
    color: #413F3F;
    border: 2px solid #313061;
  }

  /* top-main card end */

  /* refer main */

  .main-refer{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    margin-top: 2.6rem;
  }
  .main-refer .fe{
    width: 100%;
    height: auto;
    padding: .6rem 0;
    background-color: #313061;
  }
  .main-refer .fe .card{
    width: 100%;
    height: auto;
    border: none;
    background-color: transparent;
  }
  .main-refer .fe .card h5{
    color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    padding-top: .5rem;
  }
  .main-refer .fe .card button{
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border: 2px solid #FF5757;
    color: white;
    background-color: #FF5757;
    transition: 0.5s;
    border-radius: 3px;
  }
  .main-refer .fe .card button:hover{
    border: 2px solid #FF5757;
    background-color: #FFFBFB;
    color: #313061;
  }

  /* main refer end */

  /* main-search-text */
  .main-search-text {
    width: 100%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  .main-search-text h1{
    width: 100%;
    height: auto;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: #413F3F;
    margin-bottom: 2rem;
  }
  .main-search-text p{
    width: 100%;
    height: auto;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: #413F3F;
    
  }
  .main-search-text input[type="text"]{
    width: 40%;
    height: auto;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   border: 1px solid #313061;
   transition: 0.5s;
   outline: none;
    
  }
 .main-search-text button{
   width: 5rem;
   border: 2px solid #FF5757;
   background-color: #FF5757;
   color: white;
   padding-top: .5rem;
   padding-bottom: .5rem;
   outline: none;
   margin-left: -6px;
   transition: 0.5s;
 }
 .main-search-text button:hover{
  
  border: 2px solid #313061;
  background-color: transparent;
  color: #313061;
}
  
.main-search-text .style1 {

  border-top: 1px solid #FF5757;
  margin-top: 3rem;
  
  }

/* end */

/* property card start */
.pro-card{
  width: 100%;
  height: auto;
  
  padding-bottom: 2rem;
}
.pro-card .card{
  width: 93%;
  height: auto;
  border: none;
  background-color:#FFFBFB;
  transition: transform .2s;
  box-shadow: 0px 0px 10px 2px rgba( 0, 0, 0 , 0.2);
  margin-bottom: 2rem;
}
.pro-card .flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  
}
.pro-card .card:hover{
  transform: scale(1.05);
}
.pro-card .card .card-body p{
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #413F3F;
}
.pro-card .card img{
  width:100%;
  height: 13rem;

}
.pro-card .card .city-tag{
  position: absolute;
  top: 12.3rem;
  left: 0;
  background-color: #FF5757;
  color: white;
  padding: .2rem 1rem;
}
.pro-card .card .rent-price{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.pro-card .card .rent-price .print-subs{
  position: absolute;
  top: 3rem;
  left:0rem;
  font-size: 1rem;
  color: #3D3D3D;
}
.pro-card .card button{
  width: 8rem;
  color: white;
  background-color: #46A6FF;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border: 2px solid #46A6FF;
  outline: none;
  border-radius: 4px;
  transition: 0.5s;
}
.pro-card .card button:hover{

  color: #313061;
  background-color: transparent;

  border: 2px solid #313061;
}
/* pro card end */

/* post property */

.post{
  width: 100%;
  height: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.post h2{
  text-align: center;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #413F3F;
}
.post .style1 {
  width: 80%;
  border-top: 2px solid #FF5757;
  margin-top: 4px;
  
  }

.post input[type="text"]{
  width: 100%;
  height: auto;
  border: 1px solid #313061;
  border-radius: 3px;
  outline-color: #46A6FF;
  padding-left: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
}  
.post input[type="number"]{
  width: 100%;
  height: auto;
  border: 1px solid #313061;
  border-radius: 3px;
  outline-color: #46A6FF;
  padding-left: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
}  
.post .lis{
  width: 100%;
  height: auto;
  border: 1px solid #313061;
  border-radius: 3px;
  outline-color: #46A6FF;
  padding-left: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
} 
.post button{
  width: 50%;
  height: auto;
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: white;
  background-color: #46A6FF;
  border: 2px solid #46A6FF;
  outline: none;
  transition: 0.5s;
  border-radius: 3px;
  margin-top: 2rem;
}
.post button:hover{
  color: #313061;
  background-color:transparent;
  border: 2px solid #313061;
}

/* footer start */
.foot{
  background-color:#313061 ;
  padding-top: 15px;
  padding-bottom: 2rem;
  z-index: 2;
}
.foot .style1 {

border-top: 1px solid rgb( 182, 182, 182 );
margin-top: 0px;

}
.foot h5{
font-size: 17px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: rgb( 255, 255, 255 );
text-transform: uppercase;
margin: 20px 20px 5px 5px;
text-transform: uppercase;

}


.foot .links{
font-size: 16px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin-left: 10px;
line-height: 1.4;
text-align: left;

}
.foot .links a{
color: rgb( 226, 226, 226 );
text-decoration: none;

}
.foot .links a:hover{
color: #FF5757;
}
.foot p {
font-size: 16px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: rgb( 226, 226, 226 );
margin-left: 10px;
text-align: justify Left;

}
.foot img{
width: 20px;
height: 20px;
background-color: none;
margin-top: -5px;
margin-right: 10px;
}

.foot input[type=email] {
border-radius: 6px 0px 0px 6px;
background-color: rgb( 255, 255, 255 );
color: rgb( 190, 190, 190 );
border: none;
outline: none;
width: 70%;
padding-left: 10px;
height: 30px;
margin-bottom: 10px;
margin-left: 10px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.foot .arrow{
  background: rgb( 95, 96, 96 );
 
  
  margin-left: -5px;
  border-radius: 0px 6px 6px 0px;
  padding:5px;
}
.foot .arrow:hover{
  background: rgba(173, 124, 58, 0.699);
  
}




.last {
 
    background-color: rgb( 44, 44, 44 );
    width: 100%;
    height: 140px;
    padding-top: 20px;
   }
   
   .last p {
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb( 255, 255, 255 );
    text-transform: uppercase;
    
    text-align: center;
    
   }
   .last .fa {
    background-color: rgb( 44, 44, 44 );
   color: white;
   text-align: center;
  
   font-size: 15px;
   border-style:solid;
   border-color: #FF5757;
   border-width: 1px;
   padding-top: 4px;
   margin: 0px 4px 10px 0px;
   border-radius: 6px;
   width: 26px;
   height: 26px;
   
   }
   .last a{
      
      margin-right: 8px;
      margin-top: -10px;
   }
   .last .reserved {
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb( 226, 226, 226 );
    line-height: 1.346;
    text-align: center;
   padding-bottom: 20px;
   }
   .last .lik{
      float: none;
      margin:none;
      color: rgb( 239, 69, 84 ); 
      text-transform: uppercase;
      text-decoration: none;
   
   }
   .last .lik:hover{
      color: lightcoral;
   }
  
/* footer end */



/* list main */

.list-main{
  width: 100%;
  height: auto;
  margin-top: 4rem;
  padding-bottom: 3rem;
}
.list-main .form-head{
  width: 100%;
  height: auto;
}
.list-main .form-head h3{
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #413F3F;
}
.list-main .form-head .style1 {

  border-top: 1px solid #FF5757;
  margin-top: 0rem;
  width: 40%;
  margin-left: 0px;
  }
.list-main .list-form{
  width: 100%;
  height: auto;
  padding-top: 1.5rem;
  padding-left: 1rem;
}  
.list-main .list-form input[type="text"], input[type="email"],  input[type="file"]{
  width: 100%;
  height: auto;
  border: 1px solid #313061;
  border-radius: 3px;
  outline-color: #46A6FF;
  padding-left: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-bottom: 1rem;

}
.list-main .list-form input[type="number"]{
  width: 100%;
  height: auto;
  border: 1px solid #313061;
  border-radius: 3px;
  outline-color: #46A6FF;
  padding-left: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-bottom: 1rem;

}
.list-main .list-form #rent{
  width: 80%;
  height: auto;
  border: 1px solid #313061;
  border-radius: 3px;
  outline-color: #46A6FF;
  padding-left: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-bottom: 1rem;

}
.list-main .list-form button{
  width: 7rem;
  height: auto;
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: white;
  background-color: #46A6FF;
  border: 2px solid #46A6FF;
  outline: none;
  transition: 0.5s;
  border-radius: 3px;
}
.list-main .list-form button:hover{
  color: #313061;
  background-color:transparent;
  border: 2px solid #313061;
}

.list-main .card{
  width: 100%;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgba(175, 175, 175, 0.5);
  border: none;
  margin-top: 1.6rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.list-main .card h6{
  color: #413F3F;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.list-main .card p{
  color: #413F3F;
  margin-left: .5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* list main end */

/* list main */

.recharge-main{
  width: 100%;
  height: auto;
  margin-top: 4rem;
  padding-bottom: 3rem;
}
.recharge-main .form-head{
  width: 100%;
  height: auto;
}
.recharge-main .form-head h3{
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #413F3F;
}
.recharge-main .form-head .style1 {

  border-top: 1px solid #FF5757;
  margin-top: 0rem;
  width: 40%;
  margin-left: 0px;
  }
  .recharge-main .lft .card{
    width: 100%;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgba(209, 208, 208, 0.295);
    border: none;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .recharge-main .lft .card button{
    width: 100%;
    height: auto;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: white;
    background-color: #46A6FF;
    border: 2px solid #46A6FF;
    outline: none;
    transition: .5s;
    border-radius: 3px;
  }
  .recharge-main .lft .card button:hover{
    color: #313061;
    background-color: transparent;
    border: 2px solid #313061;
  }
.recharge-main .rgt .card{
  width: 100%;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgba(175, 175, 175, 0.5);
  border: none;
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.recharge-main .rgt .card h6{
  color: #413F3F;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.recharge-main .rgt .card p{
  color: #413F3F;
  margin-left: .5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* recharge main end */

/* post table page */
.posttable {
  width:100%;
  height: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.posttable .form-head{
  width: 100%;
  height: auto;
  
}
.posttable .form-head h3{
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #413F3F;
}
.posttable .form-head .style1 {

  border-top: 1px solid #FF5757;
  margin-top: 0rem;
  width: 40%;
  margin-left: 0px;
  }
.posttable table{
  margin-top: 2rem;
  width: 100%;
  height: auto;
 
}  

/* posttable end */


/* wallet start */
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*----------------page-wrapper----------------*/

.page-wrapper {
  height: auto;
}

.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}

.page-wrapper .theme.chiller-theme {
  background: #1e2229;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
  height: 48rem;
  /* z-index: -1; */
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 300px;
  }
}
/*----------------show sidebar button----------------*/
#show-sidebar {
  position: fixed;
  left: 0;
 
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
}
.page-wrapper.toggled #show-sidebar {
  left: -40px;
}
/*----------------sidebar-wrapper----------------*/


.sidebar-wrapper {
  width: 260px;
  height: 110%;
 
  position: absolute;;
  z-index: +1;
  left: -300px;
  
  
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-wrapper a {
  text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
}

.sidebar-content.desktop {
  overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.sidebar-wrapper .sidebar-brand > a {
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
  cursor: pointer;
  font-size: 20px;
}
/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
  padding: 20px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic {
  float: left;
  width: 60px;
  padding: 2px;
  border-radius: 12px;
  margin-right: 15px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.sidebar-wrapper .sidebar-header .user-info {
  float: left;
}

.sidebar-wrapper .sidebar-header .user-info > span {
  display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
  font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
  font-size: 11px;
  margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}



/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}



.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-align: center;
}

.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 17px;
}





/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 20px;
}

.page-wrapper .page-content > div {
  padding: 20px 40px;
}

.page-wrapper .page-content {
  overflow-x: hidden;
}
.page-wrapper .page-content  .rechar{
  width: 100%;
  height: auto;
}
.page-wrapper .page-content  .rechar .top{
  width: 10rem;
  height: auto;
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: white;
  background-color: #FF5757;
  border: 2px solid #FF5757;
  transition: .5s;
  border-radius: 4px;
}
.page-wrapper .page-content  .rechar .top:hover{
  
  color: #313061;
  background-color: transparent;
  border: 2px solid #313061;
 
}
.page-wrapper .page-content  .rechar .top2{
  width: 10rem;
  height: auto;
  padding-top: .5rem;
  padding-bottom: .7rem;
  color: #FF5757;
  background-color: transparent;
  border: 2px solid #FF5757;
  transition: .5s;
  border-radius: 4px;
  margin-left: 1rem;
}
.page-wrapper .page-content  .rechar .top2:hover{
  
  color: white;
  background-color: #FF5757;
  border: 2px solid #FF5757;
 
}
.page-wrapper .page-content  .rechar h5{
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #3D3D3D;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
.page-wrapper .page-content  .rechar .rechar-box{
  width: 100%;
  height: auto;
  background-color: #FF5757;
  padding-bottom: 2rem;
  border-radius: 5px;
  /* padding-left: 1.5rem; */
}
.page-wrapper .page-content  .rechar .rechar-box a{
  width: 100%;
  height: auto;
  color: white;
 
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-weight: 400;
 text-decoration: none;
 
 padding-top: .5rem;
 padding-bottom: .5rem;
 transition: .5s;
}

.page-wrapper .page-content  .rechar .rechar-box .contentrr{ 
  width: 100%;
  height: auto;
  border-radius: 5px;
  padding-left: 0rem;
  padding-top: 1rem;
  background-color: white;
  margin-top: 1rem;
 }
 .page-wrapper .page-content  .rechar .rechar-box .contentrr .inpu{ 
  width: 100%;
  height: auto;
  border: 1px solid #313061;
  outline: none;
  border-radius: 3px;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
 }
 .page-wrapper .page-content  .rechar .modal-body button{ 
  width: 100%;
  height: auto;
  border: 1px solid #FF5757;
  outline: none;
  border-radius: 3px;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #FF5757;
  color: white;
  transition: .5s;
 }
 .page-wrapper .page-content  .rechar .modal-body .coupon{ 
  width: 100%;
  height: auto;
  border: 1px solid #313061;
  outline: none;
  border-radius: 3px;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  
 
 }
 .page-wrapper .page-content  .rechar .modal-body button:hover{ 
  
  border: 1px solid #313061;
  
  background-color: transparent;
  color: #313061;
 }
 .page-wrapper .page-content  .rechar .rechar-box .contentrr .pay{ 
  width: 6rem;
  height: auto;
  background-color: #FF5757;
  border: 2px solid #FF5757;
  color: white;
  padding-top: .5rem;
  padding-bottom: .5rem;
  transition: .5s;
  border-radius: 4px;
  margin-bottom: 1rem;
  margin-top: 1rem;
 }
 .page-wrapper .page-content  .rechar .rechar-box .contentrr .pay:hover{ 
  
  background-color: transparent;
  border: 2px solid #313061;
  color: #313061;
  
  
 }
 .page-wrapper .page-content  .rechar h6{ 
  
  color: #313061;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 1rem;
  
  
 }
/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
    background: #FF5757;
}

.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-menu {
    /* border-top: 1px solid #282c33; */
}



.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand>a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer>a {
    color: white;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,


.chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
.chiller-theme .sidebar-footer>a:hover i {
    color: #313061;
}
.chiller-theme .sidebar-wrapper .sidebar-header .user-info{
  color: white;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
    color: white;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
    color: #313061;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #16c7ff;
    text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
}







  

  /* wallet end */

.refferal{

  margin: 2rem 0;
}

.level-text{
  margin: 1.5rem 0;
}

.greenicon{
  margin-right: .6rem;
}

.refferal-link{

  background-color: #FFFBFB;
  padding: .5rem;
}

.price-card{
  margin-top: 3rem;
}




/* modal box */

.modal{
  margin-top: 4rem;
}
.modal .modal-content{
  width: 100%;
  height: auto;
  
}
.modal .modal-content .left{
  width: 30%;
  height: 500px;
  background-color: #FF5757;
  padding-top:3rem;
  padding-bottom:2rem;
  margin-left: -23px;
  margin-top: -16px;
  
  float: left;
}
.modal .modal-content .left h5{
  color: white;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 1.3rem;
  
}
.modal .modal-content .right{
  width: 70%;
  height: auto;
  float: right;
  padding-top:2rem;
  padding-bottom:2rem;
  
}
.modal .modal-content .right h5{
  color: #413F3F;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
  
}
.modal .modal-content .right p{
  color: grey;
 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* margin-top: 2rem; */
  
}
.modal .modal-content .right input[type=email],input[type=password], input[type=text], input[type=number]{
  width: 100%;
  height: auto;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border: 1px solid #FF5757;
 
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.modal .modal-content .right button{
    width: 100%;
    height: auto;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border: 2px solid #FF5757;
    outline: none;
    background-color: #FF5757;
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    transition: .5s;
  
}
.modal .modal-content .right button:hover{
  
  border: 2px solid #313061;
 
  background-color: transparent;
  color: #313061;
  

}
.modal .modal-content .right a{
  
  text-transform: none;
  text-decoration: none;

  color: #FF5757;
}
.modal .modal-content .right a:hover{

  color: #313061;
}

.hero_icons{
  width: 5rem;
  margin-top: 1rem;
}

.card-img{
  text-align: center;
}

.property-radio{
  margin-right: 1rem;
}

.rent-lis{
  width: 40%;
  display: inline-block;
  height: auto;
  border: 1px solid #313061;
  border-radius: 3px;
  outline-color: #46A6FF;
  padding-left: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
}

.fqs{
  margin-top: 1.5rem;

}
.fqs-head{
    font-size: 1.3rem;
}

.wallet{
  padding-top: 3.5rem;
}

.main{
  padding-top: 3rem;
}

.sub-main{
  padding-top: 6rem;
}

.wal-main-icon{
  display: flex;
  margin-left: 2.5rem;
}

.wlicon{
  color: #fff;
}

.wal-icons-bx{
  text-align: center;
  padding: 1rem;
  width: 7rem;
}


#close-sidebar{
  padding-left: 12rem;
}


.sidebar{
  position: fixed;
}

.wal-input{
  width: 8rem !important;
  font-size: 1.2rem;
  border: none !important;
  border-bottom: 1px solid #FF5757 !important;
}

.show_head{
  border-bottom: 1px solid #eee;
}

/* Show property CSS */
.show_head {
    border-bottom: 1px solid #eee;
}

.show-title {
    margin-bottom: 0.4rem !important;
}

.base-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.side_bar{
  /* border: 1px solid red; */
  min-height: 100vh;
  width: 10rem;
  background-color: pink;
}

.login_bx{
  text-align: center;
}

.login_inp{
  border: none !important;
  border-bottom: 1px solid #C4C4C4 !important;
}

.login_btn{
  width: 100%;
  background-color: #FF5757;
  padding: .7rem 0rem;
  border: none;
  color: #fff;
  margin-top: 1rem;
}

.login_forgot{
  color: #1e88eb !important;
}

.login_head{
  padding: 1.4rem 0rem;
}

.login_bot{
  margin-top: 1rem;
}

.home_head{
  /* Padding: top left bottom right */
  padding: 2rem 0rem 0rem 0rem;
  text-align: center;
}

.home_head p{
  font-size: 1.4rem;
  color: rgb(80, 79, 79);
  margin-top: .8rem;
}

.home_head_h1{
  font-size: 2rem;
  font-weight: 400;
}

.home_head-span{
  color: #FF5757;
}

.hero_section{
  background-color: #F0F0F0;
}

.blog-btn{
  background-color: #FF5757 !important;
}

.blog-head{
  margin-bottom: 4rem;
  text-align: center;
}

 .blog-head p{
   font-size: 1.2rem;
   margin-top: 1rem;
 }


.call_box{
  padding-top: 2rem;
  padding-bottom: 0.3rem;
}

.call_btn{
 background-color: #FF5757;
 font-size: 1.2rem;
 border: none;
 width: 10rem;
}


.call_btn:hover{
  border: 1px solid #FF5757;
  color: #FF5757;
  background-color: #fff;
}

.call_bx{
  text-align: center;
}


.call_btn-bx{
  width: 40rem !important;
}


.call_actions{
  margin: 1.5rem 0rem;
}

.hero_card-text{
  color: #1e2229;
  font-size: 1.2rem;
  font-weight: 500;
}

.blog_section{
  margin: 4rem 0rem;
}


.blog-btn{
  border: none;
}

.blog-btn:hover{
  border: 1px solid #FF5757 !important;
  color: #FF5757 !important;
  background-color: #fff !important;
}

.call_bx_or{
  font-size: 1.4rem;
  font-weight: 500;
}

.reg_line{
  margin-top: .5rem;
}



/* Contact Css */
.contact_inp {
  border: none !important;
  width: 100%;
  height: 12rem;
  border: 1px solid #C4C4C4 !important;
  border-radius: 2px;
}

.contact_head h2{
  color: #413F3F;
}

.contact_btn {
  background-color: #FF5757;
  border: none;
  width: 100%;
}

.contact_btn:hover {
  background-color: #fff;
  border: 1px solid #FF5757;
  color: #FF5757;
}

.contact_btn:active {
  background-color: #FF5757 !important;
  border: 1px solid #FF5757 !important;
}

.contact_btn_bx {
  margin-top: 1rem;
}

.contact {
  background-color: #fff;
  padding: .7rem;
}

.contact_side {
  width: 20rem;
  height: 100%;
  background-color: #f8f5f5;
}

.insid {
  padding: 3rem;
}

.contact_bx{
  /* border: 1px solid #eee; */
  padding: 1rem;
}

.contact_side_top{
  padding: 1.2rem;
}

.contact_side_top_h1{
  font-size: 1.3rem;
}

.getintouch{
  width: 100%;
  height: 9rem;
  background-color: #dc3545;
}

.getintouch_h1{
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  padding-top: 3.5rem;
}

.ticket_head{
  font-size: 1.2rem;
}

/* // end of show property CSS */

@media screen and (max-width: 600px){



  .call_btn {
    font-size: 1.5rem;
    width: 13rem;
  }

  .hero_cards{
    width: 90%;
  }

  .main{
      padding: 3rem 0rem 0rem 0rem;
  }

  .sub-main{
    padding-top: 4rem;
  }

  .pro-card .card{

    margin-left: 1.2rem;
  }

  .page-wrapper .page-content > div {
    padding: 34px 26px;
  }

  .page-wrapper .page-content  .rechar .rechar-box .contentrr{ 
    width: 92%;
    height: auto;
    border-radius: 5px;
    padding-left: 0rem;
    padding-top: 1rem;
    margin-left: 1rem;
    background-color: white;
    
   }

   .letsgo_btn{
    text-align: center;
  }
  

   .main-refer .fe .card button{ 

    width: 70%;

   }

}


/* .property-column{
  padding-top: 3rem;
} */









/* wallet new page */
body{
  background-color: rgba(233, 227, 227, 0.555);
}
.wallet-op{
  width: 100%;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgb( 245, 57, 61 );
}
.wallet-op button{
  width: 100%;
  height: auto;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: .5s;
  border-bottom: 2px solid  rgb( 245, 57, 61);
}
.wallet-op button:hover{
  border-bottom: 2px solid white;
}
.wallet-op .active{
  border-bottom: 2px solid white;
}
.recha{
  width: 100%;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.recha .scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display:none;
}
.recha .scrolling-wrapper    .card {
      display: inline-block;
      width: 33%;
      height: auto;
      border: none;
      

  }
  

.scrolling-wrapper {
-webkit-overflow-scrolling: touch;
}
.recha .card{
  width: 100%;
  height: auto;
  padding:1rem;
  background-color: white;
}
.recha .card h4{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb( 65, 65, 65 );
}
.recha .card .style1 {
  border-top: 2px solid rgb( 212, 212, 212 );
  margin-top: 5px;
}
.recha .card .radi {
  width: 100%;
  height: auto;
  margin-top: 1.5rem;
}
.recha .card .inp {
  width: 100%;
  height: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.recha .card .inp .sel{
  width: 100%;
  height: auto;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border: 1px solid rgba(184, 182, 182, 0.692);
  border-radius: 3px;
  padding-left: .5rem;
  
}
.recha .card .inp .top{
  margin-bottom: 1rem;
}
.recha .card .inp input[type=number]{
  width: 100%;
  height: auto;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-color: rgba(184, 182, 182, 0.692);
}

.recha .card .re-bu{
  width: 100%;
  height: auto;
}
.recha .card button{
  width: 100%;
  height: auto;
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: white;
  background-color: rgb( 245, 57, 61 );
  border: 2px solid rgb( 245, 57, 61 );
  outline: none;
  border-radius: 4px;
  transition: .5s;
}
.recha .card button:hover{
  color: #313061;
  background-color: transparent;
  border: 2px solid #313061;
}
  .meu{
position: relative;
z-index: +2;

}
.meu p{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: rgb( 237, 237, 237 );
text-transform: uppercase;
line-height: 1.4;

float:left;

font-size:larger;
margin-top: 50px;
padding-bottom: 30px;
margin-right: 12px;

}
.meu .nav-link:hover{
color: rgb( 239, 69, 84 )
}

.meu .nav-link{

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: rgb( 95, 96, 96 );
text-transform: uppercase;
line-height: 1.4;
text-align: center;
font-size: 16px;
margin-left: 12px;
}
.meu .brk{
color: rgba(161, 159, 159, 0.356);
}
#user{
width: 100%;
height: auto;
background-color: rgba(233, 227, 227, 0.562);
border-radius: 50%;
}   

.ima{ 
width: 35px;
height: 35px;
border-radius: 50%;
background-color:rgba(233, 227, 227, 0.562);
border: 2px solid grey;
padding: 5px;
transition: .5s;
}   
.ima:hover{ 

border: 2px solid rgb( 245, 57, 61 );

}
.rea{
border: 2px solid rgb( 245, 57, 61 );
}
.recha .card a{
  text-align: center;
  color: #3D3D3D;
  text-decoration: none;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: .5s;
}  
.recha .card a:hover{
  
  color: rgb( 245, 57, 61 );
  
  
}  







#btn {
position: absolute;
z-index:5;
padding-top: 1.5rem;
padding-left: 1.5rem;
cursor: pointer;
-webkit-transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);

}

#btn div {
width: 1.5rem;
height: 2px;
margin-bottom: 8px;
background-color: rgb( 245, 57, 61 );
-webkit-transition: -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, box-shadow 250ms, background-color 500ms;
transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, box-shadow 250ms, background-color 500ms;
}


#btn.active { left: 250px; }

#btn.active div { background-color: #1e3044; }



#btn.active #top {
-webkit-transform: translateY(10px) rotate(-135deg);
-ms-transform: translateY(10px) rotate(-135deg);
transform: translateY(10px) rotate(-135deg);
}

#btn.active #middle {
-webkit-transform: scale(0);
-ms-transform: scale(0);
transform: scale(0);
}

#btn.active #bottom {
-webkit-transform: translateY(-10px) rotate(-45deg);
-ms-transform: translateY(-10px) rotate(-45deg);
transform: translateY(-10px) rotate(-45deg);
}

#box {
position: fixed;
z-index: 4;
overflow: auto;
top: 0px;
left: -275px;
width: 275px;
opacity: 0;
padding: 20px 0px;
height: 100%;
background-color: #1e3044;

-webkit-transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

#box.active {
left: 0px;
opacity: 1;
}

#items {
position: relative;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}

#items .item {
position: relative;
cursor: pointer;
font-size: 1.1rem;
margin-top: .5rem;
margin-bottom: .5rem;
padding-left: 2rem;
color: grey;
-webkit-transition: all 250ms;
transition: .5s;
}

#items .item:hover {

transform: scale(1.1);
color: white;
}   
.meu .style1 {

border-top: 1px solid grey;
margin-top: 2rem;

} 
@media screen and (max-width: 520px) {
.wallet-op{
display: none;
}
.recha .dex{
  display: none;

}
.recha .scrolling-wrapper{
  display: block;
}
.lo-mm  img{
  width: 80px;
  margin-left: 25px;
}
} 

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.uu{
    width: 30px;
    
    border:2px solid grey;
    border-radius:50%;
    transition: .5s;
}
.uu:hover{
    border:2px solid rgb( 245, 57, 61);
    
}
/* wallet new end */